Source: ros-rolling-performance-test
Section: misc
Priority: optional
Maintainer: Apex AI, Inc. <opensource@apex.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest, ros-rolling-ament-lint-auto, ros-rolling-ament-lint-common, ros-rolling-launch, ros-rolling-launch-testing, ros-rolling-osrf-testing-tools-cpp, ros-rolling-rclcpp, ros-rolling-rmw-implementation-cmake, ros-rolling-rosidl-default-generators, ros-rolling-ros-workspace, ros-rolling-rmw-connext-cpp, ros-rolling-rmw-fastrtps-cpp, ros-rolling-rmw-implementation, ros-rolling-rmw-opensplice-cpp, ros-rolling-rosidl-typesupport-connext-c, ros-rolling-rosidl-typesupport-connext-cpp, ros-rolling-rosidl-typesupport-opensplice-c, ros-rolling-rosidl-typesupport-opensplice-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-performance-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rclcpp, ros-rolling-rmw-implementation, ros-rolling-rosidl-default-runtime, ros-rolling-ros-workspace
Description: Tool to test performance of ROS2 and DDS data layers and communication.
