Source: ros-rolling-performance-test
Section: misc
Priority: optional
Maintainer: Apex AI, Inc. <opensource@apex.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-launch <!nocheck>, ros-rolling-launch-testing <!nocheck>, ros-rolling-osrf-testing-tools-cpp, ros-rolling-osrf-testing-tools-cpp <!nocheck>, ros-rolling-rclcpp, ros-rolling-rmw-implementation-cmake <!nocheck>, ros-rolling-rosidl-default-generators, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-performance-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rclcpp, ros-rolling-rmw-implementation, ros-rolling-rosidl-default-runtime, ros-rolling-ros-workspace
Description: Tool to test performance of ROS2 and DDS data layers and communication.
